.modal-tile {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 3;
	width: 100%;
	height: 100%;
	transition: opacity 0.3s, transform 0.3s;
	opacity: 0;
	transform: translateY(-100%);
	pointer-events: none;

	.modal__backdrop {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgba($c-black, 0.3);
		transition: opacity 0.3s;
	}

	.modal__content {
		height: 100%;
		padding: 2rem;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.modal__inner {
		position: relative;
		z-index: 1;
		width: 60%;
		padding: 1.5rem 3rem;
		display: inline-block;
		border-radius: 2rem;
		background: $c-white;
		box-shadow: 0 0.2rem 0.4rem rgba($c-black, 0.4);
		cursor: default;

		@include breakpoint-down(mobile) {
			width: 100%;
		}
	}

	.modal__head {
		text-align: center;
	}

	.modal__body {
		padding-bottom: 1rem;
	}

	.modal__icon {
		position: absolute;
		top: 1rem;
		right: 1.5rem;
		transition: opacity 0.3s;
		cursor: pointer;

		&:hover {
			opacity: 0.7;
		}
	}

	h2 {
		margin-bottom: 1rem;
	}

	ul li + li {
		margin-top: 0.5rem;
	}
}

.modal-tile.is-visible {
	opacity: 1;
	pointer-events: all;
	transform: translateY(0);
}
