.section {
	height: 100vh;
	min-height: 100vh;
	padding: 2rem 0;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: cover;

	@include breakpoint-down(mobile) {
		height: auto;
	}

	.shell {
		height: 100%;
	}
}
