.skeleton-holder {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;

	.skeleton__grid {
		width: 100%;
		flex-wrap: wrap;
		justify-content: center;
	}
}

.skeleton {
	position: relative;
	overflow: hidden;
	height: 20rem;
	margin-bottom: 2rem;
	flex: 1;
	padding: 1rem;
	display: flex;
	justify-content: center;
	align-items: center;
	background: $c-white;
	border-radius: 2rem;
	box-shadow: 0 0.2rem 0.4rem rgba($c-black, 0.4);

	.skeleton__outer {
		display: flex;
		flex-direction: column;
		flex: 1;
	}

	.skeleton__inner {
		position: relative;
		height: 1.2rem;
		width: 100%;
		margin-bottom: 1rem;
		display: inline-block;
		border-radius: 2rem;
		background: #f6f7f8;
		background-image: linear-gradient(
			to right,
			#f6f7f8 0%,
			#edeef1 20%,
			#f6f7f8 40%,
			#f6f7f8 100%
		);
		background-repeat: no-repeat;
		background-size: 800px 104px;
		animation: placeholderShimmer 1s forwards;
	}

	@keyframes placeholderShimmer {
		0% {
			background-position: -468px 0;
		}

		100% {
			background-position: 468px 0;
		}
	}
}
